@import "tailwindcss";
@plugin "daisyui";



html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  background-image: url(../public/the-odyssey-2026-the-odyssey-christopher-nolan-greek-heroes-from-the-iliad-film-stills-hd-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}